body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;border:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,iframe,nav,section,audio,canvas,video{display:block;}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

