/****************************************************************************
Styles for the "load more" feature.

Renders a spinner at the end of a "regular" list view, centered on top of the
view for mosaic views
****************************************************************************/

.simple-list.dataloadingmore,
.hashed-list.dataloadingmore {
  /* Extend the list a bit so that the scroller picks up the spinner
   * with some bottom margin, instead of a spinner that appears to touch
   * the bottom of the view
   */
  ul {
    padding-bottom: 1em;

    li:last-child {
      padding-bottom: 0;
    }
  }

  /* Display the spinner after the list */
  ul:after {
    content: " ";
    display: block;
    width: 5em;
    height: 5em;
    visibility: visible;

    position: relative;
    left: 50%;

    margin: 0.5em 0 2em -2.5em;

    .border-radius(0.5em);
    background: rgba(0, 0, 0, 0.9) url('../images/spinner.gif') no-repeat center center;
  }
}

.mosaic-list.dataloadingmore {
  & > .loader {
    display: block;
  }

  & > img,
  & > .img {
    .opacity(0);
    .transition(none);
  }
}
