#container{
 background: #ffffff;
 
}

header>span {
  display: none;
  background-image: transparent;
  }

#video header h1{
    background: #06c1ff;
    background: -webkit-linear-gradient(top, #c1fff3 0%,#06c1ff 2%,#067fd1 98%,#006399 100%);
    background: linear-gradient(to bottom, #c1fff3 0%,#06c1ff 2%,#067fd1 98%,#006399 100%);
}
#video #back {
    border-image-source: url('images/phone-ios-back-blue@2x.png');
}
#video #refresh,
#video #share {
    border-image-source: url('images/phone-ios-button-blue@2x.png');
}

#status header h1{
    background: #ffcb38;
    background: -webkit-linear-gradient(top, #ffebc1 0%,#ffcb38 2%,#eda600 98%,#d37400 100%);
    background: linear-gradient(to bottom, #ffebc1 0%,#ffcb38 2%,#eda600 98%,#d37400 100%);
}
#status #back {
    border-image-source: url('images/phone-ios-back-yellow@2x.png');
}
#status #refresh,
#status #share {
    border-image-source: url('images/phone-ios-button-yellow@2x.png');
}
 #status header h1{
  color: #ffffff;   
}

.status-item > div p {
  color: #000000;
font-family: "HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 1em;
}

.status-item .right h3 {
font-family: "HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 1em;
color: #000000;
 }

.status-item .right h4 {
font-family: "HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: normal;
font-size: 1em;
margin-bottom: .8em;
margin-top: 1em;
 color: #000000;
 }

#status .detail .message p {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 1em;
color: #000000;
}

#status .detail .message h4 {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
letter-spacing: .5px;
color: #000000;
}

#status .detail .message .cover {
  background: #ffffff;
  }

.detail h2, .single h2 {
font-family: "HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 1em;
color: #000000;
}

.detail h3, .single h3 {
font-family: "HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
letter-spacing: .5px;
color: #000000;
}

#status .detail .message {
  text-align: right;
letter-spacing: .5px;
  }

.hashed-list li:nth-child(even) {
background-color: rgba(0,0,0,0.05);
}


#news header h1{
    background: #ffa854;
    background: -webkit-linear-gradient(top, #ffde93 0%,#ffa854 2%,#c46d19 98%,#995400 100%);
    background: linear-gradient(to bottom, #ffde93 0%,#ffa854 2%,#c46d19 98%,#995400 100%);
}
#news #back {
    border-image-source: url('images/phone-ios-back-orange@2x.png');
}
#news #refresh,
#news #share {
    border-image-source: url('images/phone-ios-button-orange@2x.png');
}
#event header h1{
background: #9b44c8;
}

