<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="gtv-autozoom" content="off">

    <style type="text/css" media="screen">
      body, html {
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      body {
        background: #000 url(images/spinner.gif) no-repeat center center;
      }

      #container {
        display: none;
      }
    </style>
  </head>

  <body class="device-tv" ontouchmove="event.preventDefault()">
    <div id="container">

      <div id="cards"></div>

      <div id="top-gradient-overlay"></div>
      <div id="bottom-gradient-overlay"></div>

      <div id="toolbar"></div>

      <div id="photos-detail"></div>

      <div id="videos-detail"></div>

    </div>

    <!-- TEMPLATES SHARED BY ALL VERSIONS FOR SPOT -->

    <script type="text/template" id="template-contact-index">
      <div class="body"><%= textContent %></div>
    </script>

    <script type="text/template" id="template-contact-map">
      <div class="google-map"></div>
    </script>

    <script type="text/template" id="template-map-overlay">
      <p class="map-overlay"><%= address %></p>
    </script>

    <!-- TEMPLATES MOSTLY SPECIFIC TO TV version -->

    <script type="text/template" id="template-nodata">
      <div class="single content nodata">
        No data feed to display.
        <br/>Consider adding a data source.
      </div>
    </script>

    <script type="text/template" id="template-toolbar">
      <div id="logo"></div>
      <ul>
        <%= children %>
      </ul>
      <div class="highlight"></div>
    </script>

    <script type="text/template" id="toolbar-item">
      <li>
        <a href="<%= item.linkURL %>" class="<%= (item.name.toLowerCase() === 'contact') ? 'contact' : item.icon %> section-<%= item.slug %>">
          <%= item.name %>
        </a>
      </li>
    </script>

    <script type="text/template" id="template-list-view">
      <div class="list-container">
        <div class="list-indicator"></div>
        <ul class="list">
          <%= children %>
        </ul>
      </div>
      <div class="loader large">&nbsp;</div>
    </script>

    <script type="text/template" id="template-mosaic">
      <ul class="mosaic">
        <%= children %>
      </ul>
    </script>

    <script type="text/template" id="template-photo-item">
      <li class="photo-item">
        <div class="container">
          <div class="image" style="background-image: url(<%= imageUrl %>)">
            <a class="image-link" href="#<%= section.slug %>/<%= offset %>" title="<%= item.name %>">&nbsp;</a>
          </div>
          <% if (item.name) { %>
          <div class="caption"><%= item.name %></div>
          <% } %>
        </div>
      </li>
    </script>

    <script type="text/template" id="template-video-item">
      <li class="video-item">
        <div class="container">
          <div class="image" style="background-image: url(<%= imageUrl %>)">
            <a class="video-link" href="#<%= section.slug %>/<%= offset %>" title="<%= item.name %>">&nbsp;</a>
          </div>
          <% if (item.name) { %>
          <div class="caption"><%= item.name %></div>
          <% } %>
          <div class="spinner">&nbsp;</div>
        </div>
      </li>
    </script>

    <script type="text/template" id="template-status-item">
      <li class="status-item">
        <div>
          <a href="#<%= section.slug %>/<%= offset %>">
            <div class="left">
              <div class="image" style="background-image: url(<%= imageUrl %>)"></div>
            </div>
            <div class="right"><div class="item-content">
              <h3><%= item.name %></h3>
            </div></div>
            <div class="far-left">
              <p>
                <% if (item.author && item.author[0] && item.author[0].name) { %>
                  <%= item.author[0].name %><br />
                <% } %>
                <% if (item.datePublished || item.uploadDate || item.dateCreated) { %>
                <%= moment(toDate(item.datePublished || item.uploadDate || item.dateCreated)).fromNow() %>
                <% } %>
              </p>
            </div>
          </a>
        </div>
      </li>
    </script>

    <script type="text/template" id="template-event-item">
      <li class="event-item">
        <div>
          <a href="#<%= section.slug %>/<%= offset %>">
            <div class="item-content">
              <h3><%= item.name || item.description %></h3>
            </div>
            <div class="far-left">
              <p><%= moment(toDate(item.startDate)).calendar() %></p>
            </div>
          </a>
        </div>
      </li>
    </script>

    <script type="text/template" id="template-news-item">
      <li class="news-item">
        <div>
          <a href="#<%= section.slug %>/<%= offset %>">
            <div class="item-content">
              <% if (item.image && item.image.contentURL) { %>
                <span class="thumbnail" style="background-image:url(<%= item.image.contentURL %>)"></span>
              <% } %>
              <h3><%= item.name || item.description %></h3>
            </div>
            <div class="far-left">
              <p>
                <% if (item.datePublished || item.uploadDate || item.dateCreated) { %>
                <%= moment(toDate(item.datePublished || item.uploadDate || item.dateCreated)).fromNow() %>
                <% } %>
              </p>
            </div>
          </a>
        </div>
      </li>
    </script>

    <script type="text/template" id="template-sound-item">
      <li class="sound-item">
        <div>
          <a href="#<%= section.slug %>/<%= offset %>">
            <div>
              <% if (item.byArtist && item.byArtist.name) { %>
                <h3><%= item.byArtist.name %></h3>
              <% } else if (item.author && item.author.name) { %>
                <h3><%= item.author.name %></h3>
              <% } %>
              <h4><%= item.name || item.description %></h4>
            </div>
          </a>
        </div>
      </li>
    </script>

    <script type="text/template" id="template-product-item">
      <li class="product-item">
        <div>
          <a href="#<%= section.slug %>/<%= offset %>">
            <div>
              <h4>
                <%= item.name %>
                <% if (item.offers && item.offers[0] && item.offers[0].price) {  %>
                  <span class="offer"><%= (item.offers[0].priceCurrency === 'EUR') ? '€' : ((item.offers[0].priceCurrency === 'GBP') ? '₤' : '$') %><%= item.offers[0].price %></span>
                <% } %>
              </h4>
            </div>
          </a>
        </div>
      </li>
    </script>

    <script type="text/template" id="template-other-item">
      <li class="other-item">
        <div>
          <a href="#<%= section.slug %>/<%= offset %>">
            <div>
              <h4><%= item.name || item.description %></h4>
            </div>
          </a>
        </div>
      </li>
    </script>

    <script type="text/template" id="template-photo">
      <div class="image" style="background-image: url(<%= item.contentURL %>)"></div>
      <div class="spinner"></div>
    </script>

    <script type="text/template" id="template-video">
      <%= media.html %>
    </script>

    <script type="text/template" id="template-status">
      <div>
        <div class="head">
          <div class="image" style="background-image: url(<%= imageUrl %>)"></div>
          <div class="title">
            <p>
            <% if (item.author && item.author[0] && item.author[0].name) { %>
            <%= item.author[0].name %><br />
            <% } %>
            <% if (item.datePublished || item.uploadDate || item.dateCreated) { %>
            <%= moment(toDate(item.datePublished || item.uploadDate || item.dateCreated)).fromNow() %>
            <% } %>
            </p>
          </div>
        </div>
        <p><%= prettyStatus(item.name) %></p>
      </div>
    </script>

    <script type="text/template" id="template-event">
      <div>
        <div class="head">
          <% if (item.startDate && item.endDate && (item.startDate !== item.endDate)) { %>
          From <%= moment(toDate(item.startDate)).format('LLLL') %> to <%= moment(toDate(item.endDate)).format('LLLL') %>
          <% } else if (item.startDate) { %>
          On <%= moment(toDate(item.startDate)).format('LLLL') %>
        <% } %>
        </div>
        <div class="body">
          <h4><%= item.name %></h4>
          <% if(item.description) { %>
            <p class="description"><%= item.description %></p>
          <% } %>
          <% if(item.location && item.location.name) { %>
            <p class="location"><%= item.location.name %></p>
          <% } %>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-news">
      <div>
        <div class="head">
          <%= item.name %>
        </div>
        <div class="body">
          <% if (item.datePublished || item.uploadDate || item.dateCreated) { %>
          <h4><%= moment(toDate(item.datePublished || item.uploadDate || item.dateCreated)).format('LLLL') %></h4>
          <% } %>
          <% if (item.articleBody) { %>
          <%= item.articleBody %>
          <% } else if (item.description) { %>
          <%= item.description %>
          <% } %>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-product">
      <div>
        <div class="head"><%= item.name %></div>
        <div class="body">
          <% if (imageUrl) { %>
            <div class="center"><img src="<%= imageUrl %>" alt="" /></div>
          <% } %>
          <% if (item.articleBody) { %>
          <%= item.articleBody %>
          <% } else if (item.description) { %>
          <%= item.description %>
          <% } %>

          <% if (item.offers && item.offers[0] && item.offers[0].price) { %>
          <div class="offer">Price: <%= (item.offers[0].priceCurrency === 'EUR') ? '€' : ((item.offers[0].priceCurrency === 'GBP') ? '₤' : '$') %><%= item.offers[0].price %></div>
          <% } %>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-other">
      <div>
        <div class="head"><%= item.name %></div>
        <div class="body">
          <% if (imageUrl) { %>
            <div class="center"><img src="<%= imageUrl %>" alt="" /></div>
          <% } %>
          <% if (item.articleBody) { %>
          <%= item.articleBody %>
          <% } else if (item.description) { %>
          <%= item.description %>
          <% } %>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-contact">
      <div><%= textContent %></div>
    </script>

    <script type="text/template" id="template-sound">
      <div>
        <div class="head">
          <% if(item.thumbnail && item.thumbnail.length) { %>
          <div class="image" style="background-image: url(<%= item.thumbnail[0].contentURL %>)"></div>
          <% } %>
          <div class="title"><p><% if (item.byArtist && item.byArtist.name) { %> by <%= item.byArtist.name %>
          <% } else if (item.author && item.author.name) { %> by <%= item.author.name %><% } %></p></div>
        </div>

        <div class="body">
          <% if (item.datePublished || item.uploadDate || item.dateCreated) { %>
            <h4><%= moment(toDate(item.datePublished || item.uploadDate || item.dateCreated)).format('LLLL') %></h4>
          <% } %>

          <div class="media"><%= media.html %></div>
          <% if(item.description) { %>
          <p><%= item.description %></p>
          <% } %>
        </div>
      </div>
    </script>
    
    
    
    <script data-joshfire-bootstraped="" src="http://factory.joshfire.com/bootstrap/4ffdafd83b632e0100000a83/505aeabe179fd60200000403/tv/"></script>
    
    <!--
    <script data-joshfire-bootstrap src="http://192.168.2.102:40021/bootstrap/5023b3487e351e9e4b00011c/auto/tv/"></script>
    -->
    <script type="text/javascript" src="todate.js"></script>
    <script type="text/javascript" src="vendor/moment.js"></script>
    <script type="text/javascript" src="vendor/sidjs-0.1.js"></script>
    <script type="text/javascript" src="prettystatus.js"></script>
    <script data-main="app.tv" src="joshfire-framework/lib/adapters/tv/bootstrap.js"></script>
  </body>
</html>
