<div class="container">
  <div class="image" data-joshfire-autothumb="true">
    <a class="image-link" href="#<%= section.slug %>/<%= offset %>" title="<%= item.name %>">&nbsp;</a>
  </div>
  <% if (item.name) { %>
  <div class="caption"><%= item.name %></div>
  <div class="spinner">&nbsp;</div>
  <% } %>
</div>