/*!
 * Sleek 2
 * Copyright 2013 Joshfire, Inc
 * 
 */
/*
  RESET SLEEK 2
  Consistency fixes
  adopted from http://necolas.github.com/normalize.css/
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
iframe,
nav,
section,
audio,
canvas,
video {
  display: block;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 100%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
/*
    Global Variables
*/
/*old*/
/* Android Font : ROBOTO */
@font-face {
  font-family: "robotoregular";
  src: url("fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot");
  src: url("fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto_regular/Roboto-Regular-webfont.woff") format("woff"), url("fonts/roboto/roboto_regular/Roboto-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("fonts/roboto/roboto_medium/Roboto-Medium-webfont.eot");
  src: url("fonts/roboto/roboto_medium/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto_medium/Roboto-Medium-webfont.woff") format("woff"), url("fonts/roboto/roboto_medium/Roboto-Medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("fonts/roboto/roboto_bold/Roboto-Bold-webfont.eot");
  src: url("fonts/roboto/roboto_bold/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto_bold/Roboto-Bold-webfont.woff") format("woff"), url("fonts/roboto/roboto_bold/Roboto-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Iphone Font : Avenir */
/* TV Font : Droid sans */
@font-face {
  font-family: "robotoregular";
  src: url("fonts/droidsans/droidsans_regular/DroidSans-webfont.eot");
  src: url("fonts/droidsans/droidsans_regular/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/droidsans/droidsans_regular/DroidSans-webfont.woff") format("woff"), url("fonts/droidsans/droidsans_regular/DroidSans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("fonts/droidsans/droidsans_bold/DroidSans-Bold-webfont.eot");
  src: url("fonts/droidsans/droidsans_bold/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/droidsans/droidsans_bold/DroidSans-Bold-webfont.woff") format("woff"), url("fonts/droidsans/droidsans_bold/DroidSans-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
  MIXINS
*/
/*OLD*/
.clear-fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.backface-hidden {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.accelerate {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -moz-perspective: 1000;
  -moz-transform: translateZ(0);
  -ms-backface-visibility: hidden;
  -ms-perspective: 1000;
  -ms-transform: translateZ(0);
  -o-backface-visibility: hidden;
  -o-perspective: 1000;
  -o-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
}
body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #333333;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
.loader {
  background: transparent url(../images/spinner.png) no-repeat center center;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.loader.inv {
  background-image: url(../images/spinner.png);
}
.loader.large {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url(../images/spinner.png);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  width: 5em;
  height: 5em;
  left: 50%;
  top: 50%;
  margin-top: -2.5em;
  margin-left: -2.5em;
}
body {
  font-size: 15px;
}
/****************************************************************************

  HEADER & FOOTER

****************************************************************************/
#navbar {
  background-color: #444444;
}
#navbar h1 {
  color: #ffffff;
}
#navbar h1 span {
  display: block;
  position: relative;
}
#navbar a {
  position: absolute;
  z-index: 3;
}
#navbar #share {
  height: 2em;
  right: .46em;
  top: .46em;
  box-sizing: border-box;
  border-width: 5px 6px;
  border-style: solid;
  background-image: url(../images/phone-share@2x.png);
}
.indicator {
  position: absolute;
  height: .8em;
  top: -0.8em;
  left: 51%;
  width: 2em;
  margin-left: -1em;
  overflow: hidden;
}
.indicator span {
  display: block;
  height: 1.2em;
  width: 1.2em;
  margin: .2em auto;
  background-color: #ededed;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#sidebarPanel {
  position: absolute;
  display: block;
  background-color: #222222;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  padding-top: .6em;
}
#sidebarPanel > div {
  display: block;
  background-color: #222222;
  color: #ffffff;
  -webkit-box-shadow: 1px 1px 5px 0px #000000;
  -moz-box-shadow: 1px 1px 5px 0px #000000;
  -ms-box-shadow: 1px 1px 5px 0px #000000;
  -o-box-shadow: 1px 1px 5px 0px #000000;
  box-shadow: 1px 1px 5px 0px #000000;
}
#sidebarPanel ul {
  list-style: none;
  width: 100%;
}
#sidebarPanel ul li {
  display: block;
  background-color: #333333;
  color: #ffffff;
}
#sidebarPanel ul li a {
  width: 100%;
  display: block;
  position: relative;
  border-top: 1px solid #4b4b4b;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  -ms-box-shadow: 0px 0px 5px 0px #000000;
  -o-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
}
#sidebarPanel ul li a.photo {
  background-image: url(../images/phone-photo@2x.png);
  background-size: 19px 17px;
}
#sidebarPanel ul li a.status {
  background-image: url(../images/phone-status@2x.png);
  background-size: 25px 18px;
}
#sidebarPanel ul li a.video {
  background-image: url(../images/phone-video@2x.png);
  background-size: 24px 13px;
}
#sidebarPanel ul li a.event {
  background-image: url(../images/phone-event@2x.png);
  background-size: 18px 18px;
}
#sidebarPanel ul li a.news {
  background-image: url(../images/phone-news@2x.png);
  background-size: 17px 16px;
}
#sidebarPanel ul li a.sound {
  background-image: url(../images/phone-sound@2x.png);
  background-size: 14px 20px;
}
#sidebarPanel ul li a.contact {
  background-image: url(../images/phone-contact@2x.png);
  background-size: 22px 14px;
}
#sidebarPanel ul li a.map {
  background-image: url(../images/phone-map@2x.png);
  background-size: 11px 20px;
}
#sidebarPanel ul li a.product {
  background-image: url(../images/phone-product@2x.png);
  background-size: 22px 18px;
}
#sidebarPanel ul li a.other {
  background-image: url(../images/phone-news@2x.png);
  background-size: 17px 16px;
}
#sidebarPanel ul li a.next,
#sidebarPanel ul li a.prev {
  background-image: url(../images/phone-more@2x.png);
  background-size: 20px 6px;
}
#sidebarPanel ul li a > span {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
}
#sidebarPanel ul li a .indicator {
  display: none;
}
#sidebarPanel ul li a.active {
  background-color: #111111;
  border-top: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  /*.indicator {
            display: block;
          }*/

}
/****************************************************************************

  CONTENT & PANNELS

****************************************************************************/
#viewport {
  position: absolute;
  left: 0;
  top: 2.9em;
  bottom: 3.05em;
  width: 100%;
  z-index: 1;
  height: 100%;
}
#viewport div.pixelDetect {
  position: absolute;
  height: 100%;
  width: 10px;
  background: transparent;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  left: 0;
  z-index: 5;
}
#viewport div.pixelDetect.full {
  width: 100%;
  -webkit-transition: background-color 300ms linear, opacity 300ms linear;
  -moz-transition: background-color 300ms linear, opacity 300ms linear;
  -ms-transition: background-color 300ms linear, opacity 300ms linear;
  -o-transition: background-color 300ms linear, opacity 300ms linear;
  transition: background-color 300ms linear, opacity 300ms linear;
  background-color: black;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  -ms-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
}
#lockCard {
  display: none;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}
#cards {
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.content > div {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.content img {
  max-width: 100%;
  margin: 1em 0;
}
.panel {
  position: absolute;
  height: 100%;
  width: 100%;
}
.slide-panel {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slide-panel > .content {
  float: left;
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/****************************************************************************

  MISC

****************************************************************************/
.image {
  position: relative;
  height: 100%;
  width: 100%;
}
/****************************************************************************

  SECTION SPECIFIC STYLING

****************************************************************************/
#photo h1 {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}
.detail > div {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
#video {
  background: #ffffff;
}
#video #cards {
  color: #333333;
}
.attached-media,
#video .detail {
  line-height: 1.2em;
}
.attached-media a,
#video .detail a {
  position: relative;
  display: block;
  top: 0;
  left: 0;
}
.attached-media .play,
#video .detail .play {
  height: 5em;
  width: 4em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5em;
  -webkit-transform: scaleX(1.5);
  -moz-transform: scaleX(1.5);
  -ms-transform: scaleX(1.5);
  -o-transform: scaleX(1.5);
  transform: scaleX(1.5);
}
.attached-media .play span,
#video .detail .play span {
  display: block;
  height: 3em;
  width: 3em;
  margin-left: -1.5em;
  margin-top: 1em;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.attached-media img,
#video .detail img {
  width: 100%;
  height: auto;
}
.attached-media .media,
#video .detail .media {
  background: #000;
}
.attached-media .media div,
#video .detail .media div,
.attached-media .media iframe,
#video .detail .media iframe,
.attached-media .media video,
#video .detail .media video {
  margin: 0 auto;
}
.attached-media .body,
#video .detail .body {
  background: #ffffff url(../images/phone-shadow@2x.png) no-repeat center top;
  background-size: 100% 53px;
}
.attached-media .wrapper > div:first-child,
#video .detail .wrapper > div:first-child {
  overflow: hidden;
  padding: 0 1em;
  min-height: 100%;
}
.attached-media .wrapper p,
#video .detail .wrapper p {
  margin-bottom: 1em;
}
.attached-media h3,
#video .detail h3 {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: .8em;
  margin-top: 1em;
}
.attached-media h4,
#video .detail h4 {
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #ffffff;
}
#sound {
  background: #ffffff;
}
#sound #cards {
  color: #333333;
}
#sound .detail {
  line-height: 1.2em;
}
#sound .detail img {
  height: 32px;
  width: auto;
  float: left;
  margin: 0 .2em 0 0;
}
#sound .detail .body {
  padding: 1.2em 1em 1em;
}
#sound .detail h3 {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: .8em;
  margin-top: 1em;
}
#sound .detail h4 {
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #ffffff;
}
#sound .detail .media {
  margin: 1em 0;
}
#status .detail > div {
  min-height: 100%;
  position: relative;
}
#status .detail .header {
  padding-top: 1em;
}
#status .detail .header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#status .detail .header img {
  float: left;
  display: block;
  width: 48px;
  height: 48px;
  margin: 1em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
}
#status .detail .header h3 {
  font-weight: normal;
  font-size: 1.2em;
}
#status .detail .body {
  min-height: 100%;
}
#status .detail .message {
  color: #333333;
  padding: 5% 6%;
}
#status .detail .message .cover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 -1em 4em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 -1em 4em rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 -1em 4em rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 -1em 4em rgba(0, 0, 0, 0.8);
  box-shadow: 0 -1em 4em rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 6.8em;
}
#status .detail .message h4 {
  font-weight: normal;
  margin-bottom: 1.3em;
  color: #808080;
  font-size: 1.2em;
  position: relative;
}
#status .detail .message p {
  font-size: 1.4em;
  position: relative;
}
#status .detail .message p a {
  color: #333333;
  font-weight: normal;
  font-style: normal;
}
#status .detail .arrow {
  height: .8em;
  margin-left: 1.8em;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#status .detail .arrow span {
  display: block;
  height: 1.6em;
  width: 1.6em;
  margin: .35em 0;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#status .detail .attached-medias {
  position: relative;
  padding: 0;
}
#status .detail .attached-medias .media {
  padding: 0;
}
#status .detail .attached-medias .media iframe {
  width: 100%;
}
#status .detail .attached-medias .attached-media {
  padding: 1em 1em;
  color: black;
  width: auto;
}
#status .detail .attached-medias .attached-media img {
  width: auto;
}
#status .detail .attached-medias .attached-media .wrapper > div:first-child {
  padding: 0;
}
#event .detail {
  line-height: 1.2em;
  background: #ffffff;
  color: #333333;
}
#event .detail > div {
  padding: 1em;
}
#event .detail h3 {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: .8em;
  margin-top: 1em;
}
#event .detail h4 {
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #ffffff;
}
#event .detail p {
  margin-bottom: 1em;
}
#news,
#product,
#other {
  background: #ffffff;
}
#news #cards,
#product #cards,
#other #cards {
  color: #333333;
}
#news .detail,
#product .detail,
#other .detail {
  line-height: 1.2em;
}
#news .detail h3,
#product .detail h3,
#other .detail h3 {
  font-weight: normal;
  font-size: .9em;
  margin-bottom: .2em;
  margin-top: 1em;
}
#news .detail h4,
#product .detail h4,
#other .detail h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 1em;
}
#news .detail .body,
#product .detail .body,
#other .detail .body {
  padding: 2.2em 1em 1em;
}
.no-toolbar #viewport {
  bottom: 0;
}
.no-toolbar #toolbar {
  visibility: hidden;
}
body {
  font-size: 15px;
  font-family: "Avenir Roman", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100%;
}
/****************************************************************************

  HEADER & FOOTER

****************************************************************************/
#navbar {
  font-family: "Avenir Medium", Helvetica, Arial, sans-serif;
  height: 44px;
}
#navbar h1 {
  padding: 5px 0;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  width: 100%;
}
#navbar #back {
  left: 13px;
  top: 13px;
  width: 23px;
  height: 15px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0) url(../images/phone-back@2x.png) no-repeat center center;
  background-size: 23px 15px;
  display: none;
  pointer-events: all;
}
#navbar #sidebar-btn {
  height: 16px;
  width: 17px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0) url(../images/menu-iPhone@2x.png) no-repeat center center;
  background-size: 16px 17px;
  left: 13px;
  top: 13px;
}
#sidebarPanel {
  width: 274px;
  font-family: "Avenir Medium", Helvetica, Arial, sans-serif;
}
#sidebarPanel > div {
  font-size: 24px;
  padding: 10px 22px;
}
#sidebarPanel ul {
  width: 273px;
}
#sidebarPanel ul li {
  height: 43px;
  font-size: 17px;
}
#sidebarPanel ul li a {
  padding: 10px 40px 10px 40px;
}
/****************************************************************************

  CONTENT & PANNELS

****************************************************************************/
#container {
  background-color: #ffffff;
  z-index: 5;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  -ms-transition: -ms-transform 300ms ease-in-out;
  -o-transition: -o-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
#container.notransition {
  -webkit-transition: none!important;
}
#container.showToolbar {
  -webkit-transform: translate(273px, 0);
  -moz-transform: translate(273px, 0);
  -ms-transform: translate(273px, 0);
  -o-transform: translate(273px, 0);
  transform: translate(273px, 0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  -ms-transition: -ms-transform 300ms ease-in-out;
  -o-transition: -o-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
.list {
  list-style: none;
  line-height: 1em;
  padding: 0;
}
.list:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.no-data {
  text-align: center;
}
.loading .no-data {
  display: none;
}
.simple-list li {
  border-bottom: solid 2px rgba(255, 255, 255, 0.15);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
.simple-list li:first-child {
  padding-top: 1em;
}
.simple-list li:last-child {
  border-bottom: none;
  padding-bottom: 2em;
}
.hashed-list li {
  border-bottom: solid thin rgba(255, 255, 255, 0.2);
}
.hashed-list li:nth-child(even) {
  background-color: rgba(204, 204, 204, 0.3);
}
.hashed-list li:first-child {
  padding-top: 1em;
}
.hashed-list li:last-child {
  border-bottom: none;
  padding-bottom: 2em;
}
.mosaic-list {
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.mosaic-list li {
  width: 50%;
  float: left;
  padding: 0;
}
.mosaic-list li > div {
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
}
.mosaic-list li > div a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: solid thin #000;
}
.mosaic-list li:nth-child(6n - 5) > div {
  padding-bottom: 100%;
}
.mosaic-list li:nth-child(6n - 1) {
  float: right;
}
.mosaic-list li:nth-child(6n - 1) > div {
  padding-bottom: 100%;
}
.mosaic-list li:nth-child(3n + 1) {
  clear: left;
}
.mosaic-list li:last-child:nth-child(6n - 5) {
  width: 100%;
}
.mosaic-list li:last-child:nth-child(6n - 5) > div {
  padding-bottom: 25%;
}
.mosaic-list li:last-child:nth-child(6n - 4) > div {
  padding-bottom: 100%;
}
.mosaic-list li:last-child:nth-child(6n - 2) {
  width: 100%;
}
.mosaic-list li:last-child:nth-child(6n - 2) > div {
  padding-bottom: 25%;
}
.mosaic-list li:last-child:nth-child(6n - 1) > div {
  padding-bottom: 50%;
}
.single.mosaic-list .first {
  height: 100%;
}
.single.mosaic-list ul {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 15%;
  left: 0;
  right: 0;
}
.single.mosaic-list ul li {
  height: 100%;
}
.single.mosaic-list ul .figure {
  padding-bottom: 0!important;
  height: 100%;
}
.single.mosaic-list ul .figure a {
  pointer-events: none;
}
.single.mosaic-list .meta {
  position: absolute;
  top: 85%;
  bottom: 0;
  display: table;
  left: 0;
  right: 0;
  height: 15%;
  width: 100%;
}
.single.mosaic-list .meta .cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.unknown-item > div {
  padding: 1em;
}
.status-item > div a {
  display: block;
  padding: 1em;
}
.status-item > div > div {
  background: url(../images/phone-arrow@2x.png) no-repeat right center;
  background-size: 9px 13px;
  padding-right: 2em;
}
.status-item > div > div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.status-item > div .figure {
  float: left;
  width: 48px;
  height: 48px;
}
.status-item > div .img {
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
}
.status-item > div .right {
  margin-left: 60px;
  padding-right: 1.5em;
}
.status-item > div h3 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: .15em;
}
.status-item > div p {
  color: #0d0d0d;
}
.status-item > div h4 {
  font-size: 1em;
  font-weight: normal;
  color: #000000;
  margin-top: .15em;
}
.video-item > div a {
  display: block;
  padding: .5em 1em .5em .5em;
}
.video-item > div a > div {
  background: url(../images/phone-arrow-dark@2x.png) no-repeat right center;
  background-size: 9px 13px;
  padding-right: 2em;
}
.video-item > div a > div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.video-item > div .figure {
  float: left;
  width: 120px;
  height: 90px;
}
.video-item > div img {
  margin: 0;
}
.video-item > div .right {
  margin-left: 132px;
  padding-right: 1.5em;
}
.video-item > div h3 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
.sound-item > div a {
  display: block;
  padding: 1em 1em 1em .5em;
}
.sound-item > div a > div {
  background: url(../images/phone-arrow-dark@2x.png) no-repeat right center;
  background-size: 9px 13px;
  padding-right: 2em;
}
.sound-item > div a > div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.sound-item > div h3 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: .2em;
}
.news-item .figure {
  float: left;
  width: 110px;
  height: 80px;
  margin-right: .5em;
}
.news-item .img {
  background: no-repeat center center;
  background-size: cover;
}
.product-item .figure {
  float: right;
  width: 120px;
  height: 90px;
}
.other-item > div,
.news-item > div,
.product-item > div {
  line-height: 1.2em;
}
.other-item > div a,
.news-item > div a,
.product-item > div a {
  display: block;
  padding: .5em 1em .5em .5em;
}
.other-item > div a > div,
.news-item > div a > div,
.product-item > div a > div {
  background: url(../images/phone-arrow-dark@2x.png) no-repeat right center;
  background-size: 9px 13px;
  padding-right: 2em;
}
.other-item > div a > div:after,
.news-item > div a > div:after,
.product-item > div a > div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.other-item > div .right,
.news-item > div .right,
.product-item > div .right {
  margin-left: 132px;
  padding-right: 1.5em;
}
.other-item > div h3,
.news-item > div h3,
.product-item > div h3 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .9em;
  color: #ffffff;
  margin-bottom: .2em;
}
.other-item > div h4,
.news-item > div h4,
.product-item > div h4 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: .3em;
}
.other-item > div p,
.news-item > div p,
.product-item > div p {
  font-size: .9em;
}
.other-item > div .offer:before,
.news-item > div .offer:before,
.product-item > div .offer:before {
  content: '(';
}
.other-item > div .offer:after,
.news-item > div .offer:after,
.product-item > div .offer:after {
  content: ')';
}
.event-item > div a {
  display: block;
  padding: 1em;
}
.event-item > div a > div {
  background: url(../images/phone-arrow@2x.png) no-repeat right center;
  background-size: 9px 13px;
  padding-right: 2em;
}
.event-item > div a > div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.event-item > div h3 {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: .5em;
}
.event-item > div h3 span {
  background: #cccccc;
  padding: .1em .3em;
}
.event-item > div h4 {
  font-weight: normal;
  font-size: 1em;
  padding: 0 .3em;
}
.video-item > div a {
  background-color: pink;
  width: 100%;
  height: 86px;
}
.detail ul,
.single ul,
.detail ol,
.single ol {
  margin: 1em;
}
.detail ul,
.single ul {
  list-style: square;
}
.detail ol,
.single ol {
  list-style: decimal;
}
.detail div,
.single div {
  max-width: 100%;
}
.detail p,
.single p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.detail h1,
.single h1 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  padding-top: 1em;
}
.detail h2,
.single h2 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  padding-top: 1em;
}
.detail h3,
.single h3 {
  font-weight: normal;
  font-size: 1.2em;
}
.detail .article a {
  color: #333333;
  font-weight: normal;
  font-style: normal;
}
.nodata {
  padding: 3em 0;
  text-align: center;
  font-size: 1.2em;
}
.loading .nodata {
  display: none;
}
.loading .loader {
  display: block;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.article h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1.2em;
}
.article h2 {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 1em;
}
.article h3 {
  font-size: 1.2em;
  font-weight: normal;
}
.article h4 {
  font-size: 1.1em;
  text-decoration: underline;
}
.article h5,
.article h6 {
  font-size: 1em;
  font-style: italic;
}
#container {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.center {
  text-align: center;
}
.panel {
  width: 100%;
  height: 100%;
}
#contact .body {
  padding: 2em 1em;
}
#contact .body p {
  margin-bottom: 1em;
}
#contact .body a {
  text-decoration: underline;
}
#contact .body img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
  display: block;
}
.google-map {
  height: 100%;
}
.google-map img {
  max-width: none;
}
figure,
.figure,
.content,
.section,
.left-panel {
  position: relative;
  display: block;
}
figure > .img,
.figure > .img,
.content > .img,
.section > .img,
.left-panel > .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
figure > .fadein,
.figure > .fadein,
.content > .fadein,
.section > .fadein,
.left-panel > .fadein {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -ms-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.loading > .loader,
.figure.loading > .loader,
.content.loading > .loader,
.section.loading > .loader,
.left-panel.loading > .loader,
figure.dataloading > .loader,
.figure.dataloading > .loader,
.content.dataloading > .loader,
.section.dataloading > .loader,
.left-panel.dataloading > .loader {
  display: block;
}
figure.loading > img,
.figure.loading > img,
.content.loading > img,
.section.loading > img,
.left-panel.loading > img,
figure.dataloading > img,
.figure.dataloading > img,
.content.dataloading > img,
.section.dataloading > img,
.left-panel.dataloading > img,
figure.loading > .img,
.figure.loading > .img,
.content.loading > .img,
.section.loading > .img,
.left-panel.loading > .img,
figure.dataloading > .img,
.figure.dataloading > .img,
.content.dataloading > .img,
.section.dataloading > .img,
.left-panel.dataloading > .img {
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
figure.loading .no-data,
.figure.loading .no-data,
.content.loading .no-data,
.section.loading .no-data,
.left-panel.loading .no-data,
figure.dataloading .no-data,
.figure.dataloading .no-data,
.content.dataloading .no-data,
.section.dataloading .no-data,
.left-panel.dataloading .no-data,
figure.loading .nodata,
.figure.loading .nodata,
.content.loading .nodata,
.section.loading .nodata,
.left-panel.loading .nodata,
figure.dataloading .nodata,
.figure.dataloading .nodata,
.content.dataloading .nodata,
.section.dataloading .nodata,
.left-panel.dataloading .nodata {
  display: none;
}
.figure-img.fadein {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -ms-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.figure-img.loading,
.figure-img.dataloading {
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.joshfire-wrapper > div {
  height: 100%;
}
/*
 * photoswipe.css
 * Copyright (c) %%year%% by Code Computerlove (http://www.codecomputerlove.com)
 * Licensed under the MIT license
 *
 * Default styles for PhotoSwipe
 * Avoid any position or dimension based styles
 * where possible, unless specified already here.
 * The gallery automatically works out gallery item
 * positions etc.
 */
body.ps-active,
body.ps-building,
div.ps-active,
div.ps-building {
  background: #000;
  overflow: hidden;
}
body.ps-active *,
div.ps-active * {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: none;
}
body.ps-active *:focus,
div.ps-active *:focus {
  outline: 0;
}
/* Document overlay */
div.ps-document-overlay {
  background: #000;
}
/* UILayer */
div.ps-uilayer {
  background: #000;
  cursor: pointer;
}
/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate {
  background: #000;
}
div.ps-zoom-pan-rotate * {
  display: block;
}
/* Carousel */
div.ps-carousel-item-loading {
  background: url(../images/spinner.gif) no-repeat center center;
}
div.ps-carousel-item-error {
  background: url(../images/error.gif) no-repeat center center;
}
/* Caption */
div.ps-caption {
  background: #000000;
  background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303130), color-stop(100%, #000101));
  border-bottom: 1px solid #42403f;
  color: #ffffff;
  text-align: center;
}
div.ps-caption * {
  display: inline;
}
div.ps-caption-bottom {
  border-top: 1px solid #42403f;
  border-bottom: none;
  min-height: 44px;
}
div.ps-caption-content {
  padding: 13px;
  display: block;
}
/* Toolbar */
div.ps-toolbar {
  background: #000000;
  background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303130), color-stop(100%, #000101));
  border-top: 1px solid #42403f;
  color: #ffffff;
  text-align: center;
  height: 44px;
  display: table;
  table-layout: fixed;
}
div.ps-toolbar * {
  display: block;
}
div.ps-toolbar-top {
  border-bottom: 1px solid #42403f;
  border-top: none;
}
div.ps-toolbar-close,
div.ps-toolbar-previous,
div.ps-toolbar-next,
div.ps-toolbar-play {
  cursor: pointer;
  display: table-cell;
}
div.ps-toolbar div div.ps-toolbar-content {
  width: 44px;
  height: 44px;
  margin: 0 auto 0;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
}
div.ps-toolbar-close div.ps-toolbar-content {
  background-position: 0 0;
}
div.ps-toolbar-previous div.ps-toolbar-content {
  background-position: -44px 0;
}
div.ps-toolbar-previous-disabled div.ps-toolbar-content {
  background-position: -44px -44px;
}
div.ps-toolbar-next div.ps-toolbar-content {
  background-position: -132px 0;
}
div.ps-toolbar-next-disabled div.ps-toolbar-content {
  background-position: -132px -44px;
}
div.ps-toolbar-play div.ps-toolbar-content {
  background-position: -88px 0;
}
/* Hi-res display */
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
    div.ps-toolbar div div.ps-toolbar-content
    {
        -moz-background-size: 176px 88px;
        -o-background-size: 176px 88px;
        -webkit-background-size: 176px 88px;
        background-size: 176px 88px;
        background-image: url(../images/icons2x.png);
    }
}*/
