<div>
  <a href="#<%= section.slug %>/<%= offset %>">
    <div>
      <% if (imageUrl) { %>
        <div class="figure">
          <div class="img fadein" style="background-image: url(<%= imageUrl %>)"></div>
          <div class="loader inv"></div>
        </div>
      <% } %>
      <div class="right">
        <h3><%= item.name %></h3>
      </div>
    </div>
  </a>
</div>