<a href="" id="sidebar-btn"><span class="inner"></span></a>
<h1><span id="title">&nbsp;</span></h1>
 <span>&nbsp;</span>
<a id="back">
    <span class="inner"></span>
</a>
<a id="share">
    <span class="inner"></span>
</a>