<div style="" class="list-container">
  <div class="list-indicator"></div>
  <ul style="position: absolute;" class="jflist">
    <%= children %>
  </ul>
</div>
<div class="loader large"><p class="s2011 spinnermessage">Loading</p></div>