<div class="container">
  <div class="image" data-joshfire-autothumb="true">
    <a class="video-link" href="#<%= section.slug %>/<%= offset %>" title="<%= item.name %>">&nbsp;</a>
  </div>
  <% if (item.name) { %>
  <div class="caption"><%= item.name %></div>
  <% } %>
  <div class="spinner"><p class="s2011 spinnermessage">Loading</p></div>
</div>